<h1>List of heroes</h1>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>
    Héroe borrado <small class="text-danger">{{ deletedHero }}</small>
  </h3>
</div>
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  (click)="removeLastHero()"
  class="btn btn-danger mt-4"
  *ngIf="heroNames.length > 0"
>
  Borrar último héroe
</button>

<ul class="mt-5 list-group">
  <li class="list-group-item" *ngFor="let heroName of heroNames">
    {{ heroName }}
  </li>
</ul>
